.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.video-main {
  width: 150%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #dbdcdd;
}
.control-full {
  width: 40%;
  height: 100vh;
  margin: 0 16px;
}

.grid-container-full {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
}
.video {
  width: 100%;
}
.game-mode {
  height: 100%;
  max-width: 200px;
}
.btn {
  align-self: center;
  justify-self: center;
  margin: 0 !important;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 5px;
}

.pong {
  background-color: #dbdcdd;
  height: 75vh;
}

.video-stripe {
  height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.grid-container-small {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  margin: 10px;
  width: 90%;
  height: 90%;
  align-self: center;
  justify-self: center;
}

.control-small {
  width: 15%;
}

.participants-view {
  height: 50vh;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.video-me {
  height: 25vh;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
